*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
   background: #262a2f;
   color: #333; 
   display: flex;
   min-height: 100vh;
   flex-direction: column;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.topnav {
    background-color: #333;
    overflow:hidden
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #15a06d;
    color: white;
  }
.row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
input{
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}
button{
    background: transparent;
    border: 0;
    outline: 0;
}
button .fa-solid{
    width: 25px;
    color: #555;
    font-size: 21px;
    cursor: pointer;
}
.search{
    background: white;
    width: 300px;
    height: 47px;
    margin: 3px 3px;
    text-align: center;
    clear: both;
    padding: auto;
}
.data-table, .res{
    background-color: #ddd;
}
.dataTables_length select  {
    background-color: white !important;
 }
 .dataTables_filter input  {
    background-color: white !important; 
 }
.search-results{
    background-color: #15a06d;
    padding: 3px 3px;
    margin: 0 auto;
    text-align: center;
    clear: both;
}
.details{
    background: #e9f3ff;
    color: black;
    padding: 14px 16px;

}
.all-reports, .all-programs, .all-reporters, .all-weaknesses, .searchPage{
    background: #15a06d;
    color: black;
}
.report-list, .program-list, .reporter-list, .weakness-list{
    background: whitesmoke;
    color: black;
    padding: 7px 29px;
}
.pages{
    background: #15a06d;
    color: black;
    padding: 7px 29px;    
}
.page_container{
    position: relative;
    min-height: 100vh;
}
.content-wrap{
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: row;
    min-height: 100%;
    position: relative;
    max-width: 100%;
}
footer{
    background: #333;
    color: white;
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;   
    vertical-align: baseline; 
}
.top-bounty, .top-reporters, .top-rewarded-vulnerabilities,.top-rewarding-programs,.top-reported-programs, .top-reporterd-vulnerabilities{
    background: #15a06d;
    border-spacing: 0;
    margin: 1rem;
    border: 1px solid;
    border-color: white;
    width:min-content;
    display: inline-table;
    float:left;
    box-sizing: border-box;
    font-size: smaller;
    font-family: verdana;
}
.top-earners{
    background: #15a06d;
    border-spacing: 0;
    margin: 1rem;
    border: 1px solid;
    border-color: white;
    width:min-content;
    display: inline-table;
    float:inline-end;
    box-sizing: border-box;
    font-size: smaller;
    font-family: verdana;  
}
.table-header{
    text-align: center;
    background-color: #0e7a53;
    border: 1px solid;
    border-color: white;
    font-weight:lighter;
    font-size: larger;
    color: #f2f2f2;
}
td,th{
    padding: 1px;
    border: 1px solid;
    border-color: white;
    font-family: 'Times New Roman';
    font-weight: bolder;
}
.p1,.p2{
    margin: 0 auto;
}
