{% extends 'layout.html' %}

{% block title %}
<title> Programs</title>
{% endblock %}

{% block content %}
        <h1 class="all-programs">All Programs from HackerOne</h1>
        <ul class="program-list">
            {% for p in programs_on_page %}
            <li class="program-list"><a href="/allPrograms/{{p[0][0]}}">{{p[0][0]}}</a> -- {{p[1]}} reports</li>
            {% endfor %}
        </ul>
        <div class="pages">
            {% if page > 1 %}
            <a href="{{url_for('programs', page=page-1)}}">Pervious</a>
            {% endif %}
            <span>Page {{page}} of {{total_pages}}</span>
            {% if page < total_pages %}
            <a href="{{url_for('programs', page=page+1)}}">Next</a>
            {% endif %}
        </div>
    
{% endblock %}